# Telegram Config
TELEGRAM_BOT_TOKEN="8772036842:AAE4rKkjfJR6V1NGqAz0Nlfhibf4CYIMUns"

# Environment
ENVIRONMENT="development"
# DATABASE_URL="sqlite+aiosqlite:///fifa_bot.db"  # Opcional, por defecto usará este valor

# Scraping defaults (QueueIT manual cookie as fallback initially)
QUEUE_IT_COOKIE="tu_cookie_inicial_aqui"
